@font-face {
    font-family: 'IPS-Bold';
    src: url('src/assets/fonts/IBMPlexSans-Bold.ttf')format('truetype');
}
@font-face {
    font-family: 'IPS-Medium';
    src: url('src/assets/fonts/IBMPlexSans-Medium.ttf')format('truetype');
}
@font-face {
    font-family: 'IPS-Regular';
    src: url('src/assets/fonts/IBMPlexSans-Regular.ttf')format('truetype');
}
